
.management .management--miniCard {
    position: relative;
    bottom: 15rem;
}
.teams {
    margin-top: -10rem;
}
.teams .teams--card {
    background-color: menu;
    text-align: justify;
    width: 30rem;
}
.teams .teams--deg {
    line-height: 10px;
}
.teams .teams--deg .teams--deg--name {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
}
