.loginPage {
    width: 30%;
    margin: auto;
}
.loginPage .loginPage--form {
    background-color: rgba(185, 185, 183, 0.233);
    border-radius: 5px;
    box-shadow: 2px 3px 10px gray;
    align-items: center;
}
.loginPage .loginPage--form .loginPage--form--img {
    text-align: center;
    display: block;
    /* width: 50px; */
}
.loginPage .loginPage--form .loginPage--form--img h3 {
    position: relative;
    bottom: 1.5rem;
    font-weight: bold;
}
